    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand" href="<%=root_path %>">The Gossip Project</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="<%=root_path %>">Home</a>
            <a class="nav-link" href="<%=team_path %>">Team</a>
            <a class="nav-link" href="<%=contact_path %>">Contact</a>
            <a class="nav-link" href="<%=new_gossip_path %>">New Gossip</a>
          </nav>
        </div>
      </header>