<!-- Display errors -->
<%# if @gossip.errors.any? %>
<!--  <div class="alert alert-success" role="alert">-->
<!--    <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>-->
<!--    <ul>-->
      <%# @gossip.errors.full_messages.each do |message| %>
<!--        <li><%#= message %></li>-->
      <%# end %>
<!--    </ul>-->
<!--  </div>-->
<%# end %>

<!-- Main content -->

<%= render partial: 'partials/heading' %>
<%= render partial: 'partials/footer'%>

<div class="row">
  <% @gossips.each do |gossip| %>
  
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=gossip.title %></h5>
                <p class="card-text"><%= truncate gossip.content, length: 30 %></p>
        <p class="card-text">

        <a href="<%=gossip_path(gossip.id) %>" class="btn btn-danger">See the gossip</a>
 
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=gossip.title %></h5>
                <p class="card-text"><%= truncate gossip.content, length: 30 %></p>
        <p class="card-text">

        <a href="<%= gossip_path(gossip.id) %>" class="btn btn-danger">See the gossip</a>
 
      </div>
    </div>
  </div>
</div>
  <% end %>

<footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Bye, and thanks for the visit, muh'fucker.</p>
        </div>
      </footer>
